flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow Markus","disabled":false,"info":" Hello"},{"id":"adf860c8.c1e51","type":"inject","z":"3af82246.3634ae","name":"Markus GIT4","topic":"Markus","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":100,"wires":[["ea7b5d3b.699a4"]]},{"id":"ea7b5d3b.699a4","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":80,"wires":[]},{"id":"25ab05c9.019d7a","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":240,"y":320,"wires":[["a42a7cfa.a3e7f"]]},{"id":"e54c8766.04781","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":580,"y":320,"wires":[]},{"id":"a42a7cfa.a3e7f","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":320,"wires":[["e54c8766.04781"]]}]